In [33]:
from matplotlib import pyplot as plt
import pandas as pd

In [34]:
df = pd.read_csv("testing.csv")

In [35]:
df.head()

,Unnamed: 0,timestamp,message,template_id
0,1,2018-08-25 14:00:25.715000+00:00,NAN0322AGG02 rpd[2079]: %DAEMON-3-BGP_CONNECT_...,172
1,2,2018-08-25 14:00:25.715000+00:00,NAN0322AGG02 rpd[2079]: %DAEMON-4: task_connec...,380
2,3,2018-08-25 14:00:46.424000+00:00,NAN0322AGG02 rpd[2079]: %DAEMON-3-BGP_CONNECT_...,172
3,4,2018-08-25 14:00:46.424000+00:00,NAN0322AGG02 rpd[2079]: %DAEMON-4: task_connec...,380
4,5,2018-08-25 14:01:41.792000+00:00,NAN0322AGG02 rpd[2079]: %DAEMON-3-BGP_CONNECT_...,172

In [37]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Extract date and hour from timestamp
df['date_hour'] = df['timestamp'].dt.to_period('H')

# Get the top 5 template_id with the most occurrences
top5_template_id = df['template_id'].value_counts().nlargest(5).index

# Filter the DataFrame to include only the top 5 template_id
df_top5 = df[df['template_id'].isin(top5_template_id)]

# Group by date_hour and template_id, count occurrences
top5_per_date_hour = df_top5.groupby(['date_hour', 'template_id']).size().reset_index(name='count')

/home/kien/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/datetimes.py:1143: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [39]:
top5_per_date_hour['date_hour'] = top5_per_date_hour['date_hour'].dt.to_timestamp()